.chat {
    display: flex;
    flex-direction: column;
}

.form {
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.text {
    font-size: 32px;
    border: solid black;
    border-radius: .5em;
    margin-left: 1em;
    width:80%;
    resize: vertical;
}

.submit {
    font-size: 24px;
    margin-left: 1em;
    height: 2em;
    width: 3em;
}

.messages {
    max-height: 60vh;
    overflow-y: auto;
}