.link {
    text-decoration: none;
    color: white;
    margin-left: .5em;
}
.link:hover {
    text-decoration: none;
    color: purple;
}

.itemContainer {
    text-align: left;
    padding: 1em;
    border-bottom: 1px solid #444;
}

.classImage {
    width: 100%; /* Adjust to the size of the container */
    height: auto; /* Maintain aspect ratio */
    max-height: 150px; /* Prevent excessively tall images */
    object-fit: contain; /* Ensure images do not stretch */
    border-radius: 5px; /* Optional: Add rounded corners */
    margin-bottom: 1em; /* Space between image and text */
}

.itemContainer:hover {
    background-color: #444;
}