.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;    
    background-color:white;
    height: 5%;
    overflow-y: visible;
    background-image: url("../backgroundImg.jpg");
    background-position: 10%;
    backdrop-filter: blur(100%);
}
.title {
    flex-grow: 0;
    font-size: 32px;
    color: black;
}

.button {
    position: absolute;
    right: 1em;
    top: .9em;
    font-size: 32px;
}